#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.background-white {
  background-color: white;
}

.background-black {
  background-color: black;
}

.background-green {
  background-color: green;
}

.background-blue {
  background-color: blue;
}

.background-red {
  background-color: red;
}

.break-flex {
  flex-basis: 100%;
}

.display-none{
	display: none;
}

.tab{
	display: flex;
	gap: 20px;
}
.tab *{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
	
}
.tab *:hover{
  cursor: pointer;
  outline: 2px auto aliceblue;
}
.tab-selected{
  background-color: grey;
  outline: 2px auto aliceblue;
}
